{% extends 'base.html.twig' %}

{% block body %}

    <!--SECTION 1-->
    <section class="row wrap">
        <div class="xLarge-9 large-9 medium-12 small-12 xSmall-12">
            <div class="txt_home column x-center"   data-aos="fade-right"
                 data-aos-duration="900"
                 data-aos-easing="ease-in-cubic">
                <h1>I'm Thibault Barral</h1>
                <p>Web developer</p>
                <p>Student</p>
                <p>& Mindset</p>
            </div>
        </div>
        <div class="xLarge-3 large-3 medium-12 small-12 xSmall-12">
        </div>
        <div class="scroll">
            <p>Scroll</p>
            <i class="fas fa-chevron-down" style="margin-top: -5px;"></i>
        </div>
    </section>

{% endblock %}
