/*--------------------------------
---------------PROJETS---------------
----------------------------------*/
h1 {
    font-size: 40px;
    text-transform: uppercase;
}

.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    height: 40vh;
    border-radius: 40px;
    transition: 0.5s;
    margin-bottom: 5vh;
    padding: 0 35px;
}

.text-card-project {
    transition: 0.5s;
    color: white;
    line-height: 1.6;
}
