{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
    <div class="xLarge-12 large-12 medium-12 small-12 xSmall-12">
        <h1>Administration</h1>
        <p>Interface Administration</p>
    </div>
{% endblock %}
